<h1>Productos</h1>

<ul>
        {{#each productos}}
            <li>{{this.title}} 
                - Descripción: {{this.description}}</li>
        {{/each}}
    </ul>
    <div>
        <p>Página {{currentPage}} de {{totalPages}}</p>
{{#if hasPrevPage}}
    <a href="/api/products?page={{prevPage}}"> anterior </a>
{{/if}}
{{#if hasNextPage}}
    <a href="/api/products?page={{nextPage}}"> siguiente </a>
{{/if}}
    </div>